<div class="register-container">
  <div class="register">
    <div class="links">
        <a routerLink="/auth/login" routerLinkActive="active">SIGN IN</a>
        <a routerLink="/auth/register" routerLinkActive="active">SIGN UP</a>
    </div>
    <form class="registerForm" [formGroup]="form" (ngSubmit)="onSubmit()">
      <label>Name
          <input type="text" formControlName="name">
      </label>
      <div *ngIf="form.touched && form.get('name').hasError('required')">
          Это поле обязательно
      </div>
      <label>Email
        <input type="text" formControlName="email">
      </label>
      <div *ngIf="form.touched && form.get('email').hasError('required')">
        Это поле обязательно
      </div>
      <div *ngIf="form.touched && form.get('email').hasError('email')">
          Поле должно быть корректным email
      </div>
      <label>Password
        <input type="password" formControlName="password">
      </label>
      <div *ngIf="form.touched && form.get('password').hasError('required')">
        Это поле обязательно
      </div>
      <div *ngIf="form.touched && form.get('password').hasError('minlength')">
        Пароль должен содержать не менее 6 символов
      </div>
      <div>
        {{error$ | async}}
      </div>
      <button type="submit" [disabled]="form.invalid">Sign In</button>
    </form>
  </div>
  <div class="layout-container" *ngIf="successLogin">
      <div class="layout">
        <button class="close" (click)="closeModal()">X</button>
        <p>You have successfully Signed Up!</p>
      </div>
  </div>
</div>
