<div class='tasks-container'>
  <div class="tasks">
  <div class="task" *ngFor="let task of tasks$ | async">
    <p>Text: {{task.text}}</p>
    <input type="text" [formControl]="textValue" *ngIf="updatingTaskId===task._id">
    <p>Status: {{task.status}}
      <input
        type="checkbox"
        [checked]="task.status==='done'"
        *ngIf="updatingTaskId===task._id"
        (change)="changeStatus()"
      >
    </p>
    <button (click)="changeTask(task._id, task.text, task.status)" *ngIf="updatingTaskId!==task._id">Update</button>
    <button
      (click)="deleteTask(task._id)"
      *ngIf="updatingTaskId!==task._id"
    >
      Delete
    </button>
    <button
      type="submit"
      (click)="updateTask(task._id)"
      *ngIf="updatingTaskId===task._id"
      [disabled]="textValue.hasError('required')"
    >
      Save
    </button>
    <button (click)="cancel()" *ngIf="updatingTaskId===task._id">Cancel</button>
  </div>
  </div>
</div>
